[Unit]
Description=Bitcoin daemon
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/bitcoin_install/bin/./bitcoind
WorkingDirectory=/home/ubuntu/bitcoin_install
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
