[Unit]
Description=Vermilion Discover daemon
StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
Type=simple
User=ubuntu
Environment="PATH=/home/ubuntu/Vermilion-Discover/venv/bin"
Environment="PYTHONUNBUFFERED=TRUE"
Environment="DISCOVER_CONFIG_PATH=/home/ubuntu/ord.yaml"
ExecStart=/home/ubuntu/Vermilion-Discover/venv/bin/./python main.py 4080
WorkingDirectory=/home/ubuntu/Vermilion-Discover
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target